@model IEnumerable<FamiLife.Models.Tache>
@using FamiLife.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mes taches</h2>

<p>Bienvenue, @( ((Utilisateur)HttpContext.Current.Session["utilisateur"]).prenom )</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.echeance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tacheFaite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valideeParParents)
        </th>
        <th>Affectée à</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.echeance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tacheFaite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valideeParParents)
            </td>
            <td>
                @foreach (var child in item.donneeA)
                {
                    @Html.DisplayFor(modelItem => child.prenom) <br />
                }

            </td>
            <td>
                @if (item.tacheFaite)
                {
                 @Html.ActionLink("C'est fait", "done", "Taches", new { id = item.id }, new { @class = "btn btn-default" })
                }
                else
                {
                    @Html.ActionLink("C'est pas fait", "done", "Taches", new { id = item.id }, new { @class = "btn btn-default" })
                }
            </td>
        </tr>
    }

</table>
